<div id="user-nav" class="navbar navbar-inverse">
		<ul class="nav btn-group">
						<li class="btn btn-inverse">
								<%= link_to 'Profile', edit_account_path %>
						</li>
						<li class="btn btn-inverse">
								<%= link_to "Logout", logout_path, :method => :delete %>
						</li>
		</ul>
</div>
